@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.titulo {
    width:80%;
    color:#fff;
    background: #333;
    text-shadow: 5px 5px 9px #333;
    margin: 0 auto;
    text-align: center;
} 
.contentor { 
    display:flex; 
    flex-direction:  row; 
    widht:100% 
    align-items: center; 
    gap:20px; 
} 
.cartao { 
    width:300px; 
    display:flex; 
    flex-direction: colum; 
    align-items: center; 
    justify-content: center;
    border: 3px solid #333; 
    box-shadow: 5px 6px 9px #333; 

} 
.destaque { 
    text-align: center; 
    font-size: 25px; 
    font-weght: 600; 
    text-shadow: 5px 5px 9px #333; 
} 
.multimedia { 
    max-width: 100%; 
    border: 2rem solid white; 
}